
apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ .Values.domain }}-nfs-tftp
  labels:
    app: {{ .Release.Name }}
    location: {{ .Values.location }}
    domain: {{ .Values.domain }}
spec:
  replicas: 1
  selector:
    matchLabels:
      app: {{ .Values.domain }}-nfs-tftp
  template:
    metadata:
      labels:
        app: {{ .Values.domain }}-nfs-tftp
        location: {{ .Values.location }}
        domain: {{ .Values.domain }}
    spec:
      volumes:
        - name: ioc-binaries-volume
          persistentVolumeClaim:
            claimName: {{ .Values.domain }}-binaries-claim
        - name: ioc-autosave-volume
          emptyDir: {}
        # TODO - we should rsync to this volume from the autosave PV during
        # runtime and rsync from it at startup
        - name: autosave-backing-store
          persistentVolumeClaim:
            claimName: {{ .Values.domain }}-autosave-claim

      containers:
        - name: server
          image: {{ .Values.image }}
          ports:
            - containerPort: 2049
              protocol: UDP
              name: nfsd
            - containerPort: 20048
              protocol: UDP
              name: mountd
            - containerPort: 111
              protocol: UDP
              name: rpcbind
            - containerPort: 69
              protocol: UDP
              name: tftp
            - containerPort: 12002
              protocol: TCP
              name: rsync
          command: ["/bin/bash"]
          args: ["-c", "bash /scripts/startup.sh && sleep infinity"]

          resources:
            limits:
              memory: 50Mi
              cpu: 800m
            requests:
              memory: 20Mi
              cpu: 200m

          volumeMounts:
            - mountPath: "/iocs"
              name: ioc-binaries-volume
            - mountPath: "/autosave"
              name: ioc-autosave-volume
            - mountPath: "/autosave-backing-store"
              name: autosave-backing-store

---
apiVersion: v1
kind: Service
metadata:
  name: {{ .Values.domain }}-nfs-tftp
  labels:
    app: {{ .Values.domain }}-nfs-tftp
    location: {{ .Values.location }}
    domain: {{ .Values.domain }}
spec:
  externalTrafficPolicy: Cluster
  type: LoadBalancer
  ports:
    - name: rpcbind
      port: 111
      protocol: UDP
      targetPort: 111
    - name: nfsd
      port: 2049
      protocol: UDP
      targetPort: 2049
    - name: mountd
      port: 20048
      protocol: UDP
      targetPort: 20048
    - name: tftp
      port: 69
      protocol: UDP
      targetPort: 69
    - name: rsync
      port: 12002
      protocol: TCP
      targetPort: 12002
  # a static IP is required for the NFSv2 server to work
  loadBalancerIP: {{ .Values.static_ip }}
  sessionAffinity: None
  selector:
    app: {{ .Values.domain }}-nfs-tftp
