{{- $location := default .Values.global.location .Values.location | required "ERROR - You must supply location or global.location" -}}
{{- $domain := default .Values.global.domain .Values.domain | required "ERROR - You must supply domain or global.domain" -}}
{{- $opisClaim := default (print $domain "-opi-claim") .Values.opisClaim -}}
{{- $runtimeClaim := default (print $domain "-runtime-claim") .Values.runtimeClaim -}}
{{- $autosaveClaim := default (print $domain "-autosave-claim") .Values.autosaveClaim -}}
{{- $binariesClaim := default (print $domain "-binaries-claim") .Values.binariesClaim -}}

# PVC for shared OPI files
kind: PersistentVolumeClaim
apiVersion: v1
metadata:
  name: {{ $opisClaim }}
  labels:
    app: {{ .Release.Name }}
    location: {{ $location }}
    domain: {{ $domain }}
spec:
  accessModes:
    - ReadWriteMany
  resources:
    requests:
      storage: {{ .Values.opiSize }}
---
# PVC for shared runtime files
kind: PersistentVolumeClaim
apiVersion: v1
metadata:
  name: {{ $runtimeClaim }}
  labels:
    app: {{ .Release.Name }}
    location: {{ $location }}
    domain: {{ $domain }}
spec:
  accessModes:
    - ReadWriteMany
  resources:
    requests:
      storage: {{ .Values.runtimeSize }}
---
# PVC for Autosave volumes
kind: PersistentVolumeClaim
apiVersion: v1
metadata:
  name: {{ $autosaveClaim }}
  annotations:
    # don't delete autosave so it can be recovered if the whole beamline is deleted
    helm.sh/resource-policy: keep
    argocd.argoproj.io/sync-options: Delete=false
  labels:
    app: {{ .Release.Name }}
    location: {{ $location }}
    domain: {{ $domain }}
spec:
  accessModes:
    - ReadWriteMany
  resources:
    requests:
      storage: {{ .Values.autosaveSize }}

---
# PVC for non-native ioc binaries
kind: PersistentVolumeClaim
apiVersion: v1
metadata:
  name: {{ $binariesClaim }}
  labels:
    app: {{ .Release.Name }}
    location: {{ $location }}
    domain: {{ $domain }}
spec:
  accessModes:
    - ReadWriteMany
  resources:
    requests:
      storage: {{ .Values.binariesSize }}
