{{- /*
This creates a pod for user access to the PVCs. Useful for copying
autosave SAV files in etc.


Default the derivable substitution values.

This keeps the length of the values.txt file for each individual IOC
to a minimum
*/ -}}
{{- $location := default .Values.global.location .Values.location | required "ERROR - You must supply location or global.location" -}}
{{- $domain := default .Values.global.domain .Values.domain | required "ERROR - You must supply domain or global.domain" -}}
{{- $opisClaim := default (print $domain "-opi-claim") .Values.opisClaim -}}
{{- $runtimeClaim := default (print $domain "-runtime-claim") .Values.runtimeClaim -}}
{{- $autosaveClaim := default (print $domain "-autosave-claim") .Values.autosaveClaim -}}

apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ .Release.Name }}
  labels:
    app: {{ .Release.Name }}
    location: {{ $location }}
    domain: {{ $domain }}
spec:
  replicas: 1
  selector:
    matchLabels:
      app: {{ .Release.Name }}
  template:
    metadata:
      labels:
        app: {{ .Release.Name }}
        location: {{ $location }}
        domain: {{ $domain }}
    spec:
      {{- with .Values.serviceAccountName }}
      serviceAccountName: {{ . | quote }}
      {{- end }}
      terminationGracePeriodSeconds: 3 # nice to have quick restarts on IOCs
      volumes:
        - name: runtime-volume
          persistentVolumeClaim:
            claimName: {{ $runtimeClaim }}
        - name: opis-volume
          persistentVolumeClaim:
            claimName: {{ $opisClaim }}
        - name: autosave-volume
          persistentVolumeClaim:
            claimName: {{ $autosaveClaim }}
        {{- with .Values.nfsv2TftpClaim }}
        - name: nfsv2-tftp-volume
          persistentVolumeClaim:
            claimName: {{ . }}
        {{- end }}
        {{- with .Values.volumes }}
          {{  toYaml . | nindent 10}}
        {{- end }}
      containers:
      - name: {{ .Release.Name }}
        image: busybox
        command:
          - sleep
        args:
          - infinity
        volumeMounts:
        {{- if .Values.nfsv2TftpClaim }}
        - name: nfsv2-tftp-volume
          mountPath: /mounts/nfsv2-tftp
        {{- end }}
        - name: runtime-volume
          mountPath: /mounts/runtime
        - name: opis-volume
          mountPath: /mounts/opis
        - name: autosave-volume
          mountPath: /mounts/autosave
        {{- with .Values.volumeMounts }}
          {{  toYaml . | nindent 10 }}
        {{- end }}
        stdin: true
        tty: true
        {{- with .Values.securityContext }}
        securityContext:
          {{  toYaml . | nindent 10 }}
        {{- end }}
        {{- with .Values.resources }}
        resources:
          {{  toYaml . | nindent 10 }}
        {{- end }}
        imagePullPolicy: Always
        env:
          {{- range .Values.env }}
          - name: {{ .name }}
            value: {{ .value }}
          {{- end }}
          {{- range .Values.global.env }}
          - name: {{ .name }}
            value: {{ .value }}
          {{- end }}
          - name: IOC_NAME
            value: {{ .Release.Name | quote }}
          - name: IOC_LOCATION
            value: {{ $location | quote }}
          - name: IOC_DOMAIN
            value: {{ $domain | quote }}
      {{- with .Values.nodeName }}
      nodeName: {{ . }}
      {{- else }}
      {{- with .Values.affinity }}
      affinity:
        {{  toYaml . | nindent 8 }}
      {{- end }}
      {{- end }}
      {{- with .Values.tolerations }}
      tolerations:
        {{  toYaml . | nindent 8}}
      {{- end }}
