# .schema.yaml

# Define input, output and source for $refs relative to repository root for pre-commit
values:
  # USING a tmp file created by pre-commit 'prep-ioc-instance-library-chart'
  # remove after https://github.com/losisin/helm-values-schema-json/issues/283
  - Charts/ioc-instance/values.yaml.tmp
  - Charts/ioc-instance/example.values.yaml

# NOTE: we don't call this values.schema.json because the default values file
# fails this check. This is due to it being a library chart and having
# `exports: defaults:` at the root. If we used the standard name, helm will
# check the defaults file and fail.
output: Charts/ioc-instance/ioc-instance.schema.json

# bundle up references (don't do this as K8S refs are 500kb+)
bundleRoot: Charts
bundle: false

# Include comments for the helm-docs plugin into the schema, to allow e.g. documentation in VSCode
useHelmDocs: false

# Allow additional properties for eg. initResources, different types of volumes/volumeMounts
noAdditionalProperties: true

schemaRoot:
  title: ioc-instance Helm chart
  description: Helm chart for deploying EPICS IOCs
  # No additional properties in schema root for tighter protection:
  additionalProperties: false

k8sSchemaVersion: v1.33.3
