# yaml-language-server: $schema=ioc-instance.schema.json

# Default values for ioc-instance chart.
# With annotations for building the schema using:
#   https://github.com/losisin/helm-values-schema-json.git

# NOTE: the $k8s schema references come from
#   https://github.com/yannh/kubernetes-json-schema/tree/master/v1.33.1
#   with version from Charts/ioc-instance/.schema.config.yaml (k8sSchemaVersion)

# @schema additionalProperties: true
global:
  # @schema  $ref:$k8s/container.json#/properties/env
  env: []

ioc-instance:
  ################################################################################
  # Values that all IOCs MUST set
  ################################################################################

  # @schema description: containerimage URI for the Generic IOC. Mandatory override.
  # @schema $ref:$k8s/container.json#/properties/image
  image: ""

  # @schema $ref: $k8s/container.json#/properties/imagePullPolicy
  imagePullPolicy: IfNotPresent

  # @schema description: The location where the IOCs will run. Should match location label on nodes if present.
  location: ""

  ################################################################################
  # Optional override values
  ################################################################################

  # domain can be beamline shortname or accelerator technical area
  # @schema description: the domain IOCs run in, e.g. p47, b01-1, rf, va
  domain: ""

  # @schema description: at DLS set to 'usb-compat' for mounting in USB devices
  # @schema  $ref:$k8s/podspec.json#/properties/runtimeClassName
  runtimeClassName: ""

  # @schema  $ref:$k8s/podspec.json#/properties/serviceAccountName
  serviceAccountName: ""
  # @schema  $ref:$k8s/podspec.json#/properties/hostNetwork
  hostNetwork: true

  # @schema description: root folder for ioc source/binaries inside generic IOC container
  iocFolder: /epics/ioc

  # @schema description: config folder mount point inside generic IOC container
  iocConfig: /epics/ioc/config

  # @schema $ref: $k8s/container.json#/properties/command
  command:
    - bash
    - -c

  # @schema $ref: $k8s/container.json#/properties/args
  args:
    - /epics/ioc/start.sh

  # @schema $ref: $k8s/container.json#/properties/lifecycle
  lifecycle: {}

  # @schema description: simple lifecycle config
  preStopExecutable: /epics/ioc/stop.sh

  # @schema $ref: $k8s/container.json#/properties/readinessProbe
  livenessProbe: {}

  # @schema description: simple livenessprobe config
  livenessExecutable: /epics/ioc/liveness.sh

  # @schema  $ref:$k8s/container.json#/properties/env
  env: []

  # @schema description: specify the security context. At DLS the IOCs should use iXXdetector user/group IDs
  # @schema  $ref:$k8s/container.json#/properties/securityContext
  securityContext:
    allowPrivilegeEscalation: false

  # @schema description: a volume to mount for writing data to. This can be a PVC or a hostPath the PVC
  dataVolume:
    # @schema description:  Create a PVC called {{ .Release.Name }}-data when true
    pvc: true
    # @schema description: A path on the host machine to write data into. Also used as the path that the pvc or hostPath will be mounted at so that users need not be confused about inside/outside container paths.
    hostPath: /data

  # @schema description: PVC for opi files. Defaults to ixx-pvcs
  opisClaim: ""
  # @schema description: PVC for runtime assets. Defaults to ixx-runtime
  runtimeClaim: ""
  # @schema description: PVC for autosave sav files. Defaults to ixx-autosave
  autosaveClaim: ""

  # @schema $ref: $k8s/podspec.json#/properties/volumes
  volumes: []

  # @schema $ref: $k8s/container.json#/properties/volumeMounts
  volumeMounts: []

  # @schema $ref: $k8s/podspec.json#/properties/nodeName
  nodeName: ""

  # @schema $ref: $k8s/affinity.json
  affinity: {}

  # @schema $ref: $k8s/podspec.json#/properties/tolerations
  tolerations: []

  # @schema  $ref: $k8s/container.json#/properties/resources
  resources:
    limits:
      cpu: 500m
      memory: 256Mi
    requests:
      cpu: 100m
      memory: 64Mi

  # @schema description: supply a fixed cluster IP for the service
  clusterIP:

  # If a fixed cluster IP is not supplied, we allocate one based on the IOC name
  # using baseIP to determine the range of IPs to allocate from.
  # @schema description: cluster CIDR (default is all clusters at DLS)
  baseIp: "10.96.0.0/12"

  # @schema description: server port for channel access. The caRepeater port will be one greater.
  caServerPort: 5064

  # @schema description: server port for pv access. The UDP broadcast port will be one greater.
  pvaServerPort: 5075

  ##############################################################################
  # additions below this line are to align with the deprecated fastcs helm chart
  ##############################################################################

  # Add additional containers specified by image and command
  # see example.values.yaml for the schema of this list of objects
  extraContainers: []

  # @schema description: list of additional annotations to apply o the pod
  podAnnotations:
    test: hello

  # @schema description: list of additional labels to apply o the pod
  podLabels: {}

  # @schema $ref: $k8s/podspec.json#/properties/securityContext
  podSecurityContext: {}
